/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


form {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.input-form {
  margin-top: 36px;
  width: 272px;
  height: 40px;
  border-color: #9c9c9c;
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  transition: border-color cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: outline cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input-form:hover {
  border-color: #000000;
}

input:focus::placeholder {
  color: #4e75ff;
}

.input-form:active {
  border-color: #4E75FF;
  outline: #4E75FF;
}

input:focus {
  outline: none;
  border-color: #4e75ff;
}

.btn-form {
  width: 91px;
  height: 45px;
  border-radius: 8px;
  outline: none;
  border-color: #4E75FF;
  background-color: #4E75FF;
  color: azure;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-form:hover {
  background-color: #6C8CFF;
  border-color: #6C8CFF;
}


button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

/* loader */

.loader {
  width: 48px;
  height: 48px;
  border:10px solid #FFF;
  border-radius: 50%;
  position: relative;
  transform:rotate(45deg);
  box-sizing: border-box;
}
.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset:-10px;
  border-radius: 50%;
  border:10px solid #FF3D00;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
  


.loader.is-hidden {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* card */

.positions {
  display: block;
  text-align: center;
  font-weight: 200;
}

.text {
  font-family: "Geologica", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  text-align: center;
  gap: 30px;
  border-color: #000000;
  border: 1px solid;
  border-top: none;
  border-radius: 8px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 700px;
  height: 48px;
}

img {
  border-color: #000000;
  border: 1px solid;
  border-radius: 8px;
  height: 240px;
  width: 360px;
}

.gallery {
  display: flex;
  margin-top: 32px;
  gap: 32px;
  flex-wrap: wrap;
}